:root {
    --text: #ddd;
    --blue: #03a9f4;
    --dark-blue: #005780;
    --aqua: #21ADC2;
    --green: #00D490;
    --yellow: #FFCF50;
    --red: #DA5847;
    --dark-grey: #222;
}

body {
    background-color: #111;
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blue);
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    margin: 0.5em 0;

    .value {
        color: var(--text);
    }
}

h2 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

h6 {
    display: inline-block;
    margin-right: 0.4em;
}

a {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: color, border-color;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dark-blue);
    padding: 0px 6px 2px 6px;
    border-radius: 4px;
    margin: 2px;
}

a:hover {
    color: white;
    border-color: var(--blue);
    cursor: pointer;
}

#navbar a {
    border-width: 2px;
}

#header {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    >* {
        margin-bottom: 0.5em;
    }

    >h1 {
        font-size: 1.5em;
    }
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    text-align: left;
    color: var(--blue);
    font-size: 1.1em;
    line-height: 1em;
}

td,
th {
    padding: 3px;
    border-bottom: 1px solid #333;
    border-collapse: separate;
}

.loading {
    color: var(--blue);
}